h2{
    padding: 0 0 20px 0;
}

p{
    width: 700px;
    padding: 0 0 10px 0;
}

/* ==================[hero-banniere]================== */

.hero-banniere{
    width: 100%;

    aspect-ratio: 5120 / 2020; 
    
    background-image: url('../images/hero-banniere-image-apropos-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items:   center;
    justify-content: center; 
}

.titre-hero{
    color: #EAECEE;
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    text-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
}

.texte-hero{
    color: #EAECEE;
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
}

/* ==================[presentation]================== */

.presentation{
    padding: 70px 400px;
    color: #EAECEE;
    display: flex;           
    flex-direction: column;
    align-items: center;
}

.liste-pourquoi{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 660px;
}

/* ==================[pourquoi]================== */

.pourquoi{
    padding: 70px 400px;
    color: #0A0F14;
    background-color: #F4F4F4; 
    display: flex;           
    flex-direction: column;
    align-items: center;
}

/* ==================[pourquoi-asc]================== */

.pourquoi-asc{
    padding: 70px 400px;
    color: #EAECEE;
    display: flex;           
    flex-direction: column;
    align-items: center;
}

/* ==================[conclusion]================== */

.conclusion{
    padding: 70px 400px;
    color: #0A0F14;
    background-color: #F4F4F4;
    display: flex;           
    flex-direction: column;
    align-items: center;
}