h2{
    padding: 0 0 20px 0;
}

p{
    width: 700px;
    padding: 0 0 10px 0;
}

.titre-pied-de-page{
    padding: 0;
}

.info-pied-de-page{
    width: 100%;
    padding: 0;
    text-align: center;
}

/* ==================[hero-banniere]================== */

.hero-banniere{
    width: 100%;

    aspect-ratio: 5120 / 2020; 
    
    background-image: url('../images/hero-banniere-image-apropos-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items:   center;
    justify-content: center; 
}

.titre-hero{
    color: #EAECEE;
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    text-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
}

.texte-hero{
    color: #EAECEE;
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
}

/* ==================[presentation]================== */

.presentation{
    padding: 70px 0px;
    color: #EAECEE;
    display: flex;           
    flex-direction: column;
    align-items: center;
}

.liste-pourquoi{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 660px;
}

/* ==================[pourquoi]================== */

.pourquoi{
    padding: 70px 0px;
    color: #0A0F14;
    background-color: #F4F4F4; 
    display: flex;           
    flex-direction: column;
    align-items: center;
}

/* ==================[pourquoi-asc]================== */

.pourquoi-asc{
    padding: 70px 0px;
    color: #EAECEE;
    display: flex;           
    flex-direction: column;
    align-items: center;
}

/* ==================[conclusion]================== */

.conclusion{
    padding: 70px 0px;
    color: #0A0F14;
    background-color: #F4F4F4;
    display: flex;           
    flex-direction: column;
    align-items: center;
}

/* ==================[Responsive Web Design]================== */

@media screen and (max-width: 1200px) {
    .titre-hero{
        font-size: 60px;
    }

    .texte-hero{
        font-size: 20px;
    }   


    P{
        width: 600px;
    }
}

@media screen and (max-width: 775px) {


    .titre-hero{
        font-size: 40px;
        margin: 0 20px;
    }


    .texte-hero{
        font-size: 15px;
    }   

    P{
        width: 400px;
    }

}

@media screen and (max-width: 450px) {

    .hero-banniere{
        padding: 100px 0;
    }

    .titre-hero{
        font-size: 40px;
    }

    .texte-hero{
        font-size: 10px;
        margin: 0 20px 15px 20px;
    } 

    P{
        width: 350px;
    }

}