/*
main{
    padding: 0 300px;
}
*/


.hero-banniere{
    padding: 0px 300px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 780px;

    background-image: url('../images/hero-banniere-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.titre-hero{
    color: #F4F4F4;
    font-size: 150px;
    font-weight: 800;
    margin: 30px 0;
}

.sous-titre-hero{
    margin: 30px 0;
}


.texte-hero{
    margin: 30px 0;
}


.btn-hero{

}