/*
main{
    padding: 0 300px;
}
*/


/* ==================[hero-banniere]================== */

.hero-banniere{
    width: 100%;

    aspect-ratio: 5120 / 2020; 
    
    background-image: url('../images/hero-banniere-image-7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items:   flex-end;
    justify-content: center; 
}

.titre-hero{
    color: #EAECEE;
    font-size: 180px;
    font-weight: 800;
    margin: 0 290px -10px 0;
}

.sous-titre-hero{
    margin: 0px 300px 10px 0;
    color: #EAECEE;
    font-size: 35px;
}

.texte-hero{
    margin: 5px 300px 10px 0;
    color: #EAECEE;
}


/* ==================[section-presentation]================== */

.section-presentation{
    padding: 70px 400px;
    color: #EAECEE;
}

.titre-presentation{
    text-align: center;
    padding: 0 0 15px 0;
}

.citation-credo{
    text-align: center;
    padding: 10px 0 20px 0;
}

.presentation{
    display: flex;
    align-items: center;
    justify-content: center ;
    margin: 10px 0;
    padding: 30px 0;
}

.image-presentation{
    width: 450px;
    border-radius: 8px;
}

.liste-presentation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: disc;
    list-style-position: inside;
    margin: 20px 0;
}

.texte-presentation{
    width: 700px;
    padding: 0 50px 0 0;
}


/* ==================[section-histoire]================== */

.section-histoire{
    padding: 70px 400px;
    color: #0A0F14;
    background-color: #F4F4F4;
}

.titre-histoire{
    text-align: center;
    padding: 0 0 15px 0;
}

.texte-histoire{
    text-align: center;
    padding: 10px 0 20px 0;
}

.grille-epoques{
    display: flex;
    flex-direction: row ;
    justify-content: space-between ;
    padding: 20px 0;
}

.carte-epoque{
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 0 20px;
}


.img-carte-epoque{
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.titre-epoque{
    font-size: 20px;
    width: 250px;
    padding: 15px 3px 10px 3px;
}

.desc-epoque{
    width: 250px;
    padding: 0px 3px;   
}

/* ==================[section-rubriques]================== */

.section-rubriques{
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 70px 400px;
    color: #0A0F14;
}

.carte-rubrique{
    background-color: #F4F4F4;
    margin: 20px 0;
    padding: 15px 20px 15px 20px;
    width: 800px;
    border-radius: 10px;
}

.titre-rubrique{
    color: #EAECEE;
    margin: 0 0 15px 0;
}

.titre-carte-rubrique{
    margin: 0 0 10px 0;
    font-size: 20px;
}

.texte-rubrique{
    margin: 0 0 5px 0;
}

.lien-rubrique{
    color: #EAECEE;
    background-color: #C92C35;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 10px 0 0 0;
}

.lien-rubrique:hover{
    background-color: #EAECEE;
    color: #C92C35;
}


