/*
main{
    padding: 0 300px;
}
*/


.hero-banniere{

    width: 100%;

    aspect-ratio: 5120 / 2020; 
    
    background-image: url('../images/hero-banniere-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}




.titre-hero{
    color: #F4F4F4;
    font-size: 150px;
    font-weight: 800;
    margin: 30px 0;
}

.sous-titre-hero{
    margin: 30px 0;
}


.texte-hero{
    margin: 30px 0;
}


.btn-hero{

}