
.titre-page{
    color: #EAECEE;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 300px;
    margin: 100px;
    padding: 130px 0 0 0;
}

.fond{
    width: 100%;
    height: 100vh;
    background-image: url("../images/background-4.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*
.section-texte-img-1{
    padding: 120px 130px 140px 130px;
    background-color: #10181F;

}


h2{
    color: #F3F3F3;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 55px;
    padding: 0 0 80px 0;
}


p{
    color: #F3F3F3;
    font-family: "Inter", sans-serif;
    text-align: justify;
}

.p-section-1{
    padding: 0 60px;
    width: 700px;
}

.img-edward{
    width: 600px;
    margin: 0 30px;
    border-radius: 15px;
}

.s-texte-img-1{
    display: flex; 
    flex-direction: row;
    justify-content: center ; 
}

.section-texte-img-2{
    padding: 120px 130px 140px 130px;
    background-color: #F3F3F3;

}

.s-texte-img-2{
    display: flex; 
    flex-direction: row;
    justify-content: center ; 
    align-items: center ; 
}

.p-section-2{
    color: #10181F;
    padding: 0 60px;
    width: 700px;
}

.titre-section-2{
    color: #10181F;
}


.texte-bouton-2{
    display: inline-flex; 
    flex-direction: column;
    align-items: center;
}


.bouton-section-2{
    background-color: #D0203A;
    color: #F3F3F3;
    padding: 8px 20PX;
    margin: 50px;
    font-size: 15px;
}

.bouton-section-2:hover{
    background-color: #10181F;
    color: #F3F3F3;
}

*/

