/*
main{
    padding: 0 300px;
}
*/


/* ==================[hero-banniere]================== */

.hero-banniere{
    width: 100%;

    aspect-ratio: 5120 / 2020; 
    
    background-image: url('../images/hero-banniere-image-7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items:   center;
    justify-content: center; 
}



.titre-hero{
    color: #EAECEE;
    text-align: center;
    font-size:100px;
    font-weight: 800;
    text-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
}

.sous-titre-hero{
    text-align: center;
    margin: 0 0 10px 0;
    color: #EAECEE;
    font-size: 30px;
}

.texte-hero{
    color: #EAECEE;
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
}


/* ==================[section-presentation]================== */

.section-presentation{
    padding: 70px 0px;
    color: #EAECEE;
}

.titre-presentation{
    text-align: center;
    padding: 0 0 15px 0;
}

.citation-credo{
    text-align: center;
    padding: 10px 0 20px 0;
}

.presentation{
    display: flex;
    align-items: center;
    justify-content: center ;
    margin: 10px 0;
    padding: 30px 0;
}

.image-presentation{
    width: 450px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.image-presentation:hover{
    transform: scale(1.03); 
}

.liste-presentation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: disc;
    list-style-position: inside;
    margin: 20px 0;
}

.texte-presentation{
    width: 700px;
    padding: 0 50px 0 0;
}


/* ==================[section-histoire]================== */

.section-histoire{
    padding: 70px 0;
    display: block;
    color: #0A0F14;
    background-color: #F4F4F4;
}

.titre-histoire{
    text-align: center;
    padding: 0 0 15px 0;
}

.texte-histoire{
    text-align: center;
    padding: 10px 0 20px 0;
}

.grille-epoques{
    display: flex;
    flex-direction: row ;
    justify-content: center ;
    padding: 20px 0;
}

.carte-epoque{
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 0 20px;
    transition: transform 0.3s ease;

}

.carte-epoque:hover{
    transform: scale(1.03);
}

.img-carte-epoque{
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.titre-epoque{
    font-size: 20px;
    width: 250px;
    padding: 15px 3px 10px 3px;
}

.desc-epoque{
    width: 250px;
    padding: 0px 3px;   
}

/* ==================[section-rubriques]================== */

.section-rubriques{
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 70px 0px;
    color: #0A0F14;
}

.carte-rubrique{
    background-color: #F4F4F4;
    margin: 20px 0;
    padding: 15px 20px 15px 20px;
    width: 800px;
    border-radius: 10px;
    transition: transform 0.3s ease;

}

.carte-rubrique:hover{
    transform: scale(1.03); 
}

.titre-rubrique{
    color: #EAECEE;
    margin: 0 0 15px 0;
}

.titre-carte-rubrique{
    margin: 0 0 10px 0;
    font-size: 20px;
}

.texte-rubrique{
    margin: 0 0 5px 0;
}

.lien-rubrique{
    color: #EAECEE;
    background-color: #C92C35;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 10px 0 0 0;
    transition: transform 0.3s ease;
}

.lien-rubrique:hover{
    background-color: #EAECEE;
    color: #C92C35;
    transform: scale(1.1); 
}

/* ==================[Responsive Web Design]================== */

@media screen and (max-width: 1200px) {
    .titre-hero{
        font-size: 80px;
    }

    .sous-titre-hero{
        margin: 0 0 10px 0;
        font-size: 25px;
    }

    .texte-hero{
        font-size: 20px;
    }   
    
    .presentation{
        flex-direction: column;
        padding: 0;
    }

    .texte-presentation{
        width: 600px;
        padding: 0 0 30px 0;
    }

    .image-presentation{
        width: 600px;
        border-radius: 8px;
        transition: transform 0.3s ease;
   
    }

    .grille-epoques{
        display: flex;
        flex-direction: column ;
        justify-content: center ;
    }

    .carte-epoque{
        display: flex;
        flex-direction: column;
        align-items: center ;
        padding: 20px 0 ;
    }

    .img-carte-epoque{
        width: 600px;
    }

    .titre-epoque{
        font-size: 30px;
        width: 600px;
        padding: 15px 3px 10px 3px;
    }

    .desc-epoque{
        width: 600px;
        font-size: 17px;
        padding: 0px 3px;
    }

    .carte-rubrique{
        background-color: #F4F4F4;
        margin: 20px 0;
        padding: 15px 20px 15px 20px;
        width: 600px;
        border-radius: 10px;
        transition: transform 0.3s ease;

    }
}

@media screen and (max-width: 775px) {


    .titre-hero{
        font-size: 60px;
    }

    .sous-titre-hero{
        margin: 0 0 5px 0;
        font-size: 18px;
    }

    .texte-hero{
        font-size: 10px;
    }   
    
    .section-presentation{
        padding: 45px 0px;
        color: #EAECEE;
    }

    .titre-presentation{
        text-align: center;
        padding: 0 0 10px 0;
    }

    .citation-credo{
        text-align: center;
        padding: 8px 0 15px 0;
    }


    .presentation{
        flex-direction: column;
        padding: 0;
    }

    .texte-presentation{
        width: 400px;
        padding: 0 0 15px 0;
    }

    .image-presentation{
        width: 400px;
        border-radius: 8px;
        transition: transform 0.3s ease;
   
    }

    .liste-presentation{
        font-size: 14px;
    }


    .grille-epoques{
        display: flex;
        flex-direction: column ;
        justify-content: center ;
        align-items: center;
    }

    .carte-epoque{
        display: flex;
        flex-direction: column;
        align-items: center ;
        padding: 15px 0 ;
    }

    .img-carte-epoque{
        width: 400px;
    }

    .titre-epoque{
        font-size: 30px;
        width: 400px;
        padding: 15px 3px 10px 3px;
    }

    .desc-epoque{
        width: 400px;
        font-size: 17px;
        padding: 0px 3px;
    }

    .carte-rubrique{
        background-color: #F4F4F4;
        margin: 20px 0;
        padding: 15px 20px 15px 20px;
        width: 400px;
        border-radius: 10px;
        transition: transform 0.3s ease;

    }

}

@media screen and (max-width: 450px) {

    .hero-banniere{
        padding: 100px 0;
    }

    .titre-hero{
        font-size: 40px;
    }

    .sous-titre-hero{
        margin:  0 20px 5px 20px;
        font-size: 18px;
    }

    .texte-hero{
        font-size: 10px;
        margin: 0 20px 15px 20px;
    }   
    
    .section-presentation{
        padding: 45px 0px;
        color: #EAECEE;
    }

    .titre-presentation{
        text-align: center;
        padding: 0 0 10px 0;
        margin: 0 20px;
    }

    .citation-credo{
        text-align: center;
        padding: 8px 0 15px 0;
        margin: 0 20px;
    }


    .presentation{
        flex-direction: column;
        padding: 0;
    }

    .texte-presentation{
        width: 300px;
        padding: 0 0 15px 0;
    }

    .image-presentation{
        width: 300px;
        border-radius: 8px;
        transition: transform 0.3s ease;
   
    }

    .liste-presentation{
        font-size: 14px;
    }


    .grille-epoques{
        display: flex;
        flex-direction: column ;
        justify-content: center ;
        align-items: center;
    }

    .carte-epoque{
        display: flex;
        flex-direction: column;
        align-items: center ;
        padding: 15px 0 ;
    }

    .img-carte-epoque{
        width: 300px;
    }

    .titre-epoque{
        font-size: 30px;
        width: 300px;
        padding: 15px 3px 10px 3px;
    }

    .desc-epoque{
        width: 300px;
        font-size: 17px;
        padding: 0px 3px;
    }

    .carte-rubrique{
        background-color: #F4F4F4;
        margin: 20px 0;
        padding: 15px 20px 15px 20px;
        width: 300px;
        border-radius: 10px;
        transition: transform 0.3s ease;

    }

}