
/* ==================[hero-banniere]================== */

.hero-banniere{
    width: 100%;

    aspect-ratio: 5120 / 2020; 
    
    background-image: url('../images/hero-banniere-image-contact-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items:   center;
    justify-content: center; 
}

.titre-hero{
    color: #EAECEE;
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    text-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
}

.texte-hero{
    color: #EAECEE;
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
}

/* ==================[pourquoi]================== */

.pourquoi{
    padding: 70px 0px;
    color: #EAECEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre-pourquoi{
    text-align: center;
    padding: 0 0 20px 0;
}

.liste{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: disc;
    list-style-position: inside;
    margin: 20px 0;
}

.texte-pourquoi{
    margin: 0 0 10px 0;
}

.section-texte-pourquoi{
    width: 700px;
}

/* ==================[nous-contacter]================== */

.nous-contacter{
    padding: 70px 0px;
    color: #0A0F14;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nous-contacter .liste{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    list-style-position: inside;
    margin: 20px 0;
}

.nous-contacter a{
    color: #0A0F14;
    font-weight: 400;
}

.nous-contacter a:hover{
    color: #C92C35;
    font-weight: 400;
}


/* ==================[Responsive Web Design]================== */

@media screen and (max-width: 1200px) {
    .titre-hero{
        font-size: 60px;
    }

    .texte-hero{
        font-size: 20px;
    }   

    .section-texte-pourquoi{
        width: 600px;
    }

}

@media screen and (max-width: 775px) {

    .titre-hero{
        font-size: 40px;
        margin: 0 20px;
    }


    .texte-hero{
        font-size: 15px;
    }   

    .section-texte-pourquoi{
        width: 400px;
    }

}

@media screen and (max-width: 450px) {

    .hero-banniere{
        padding: 100px 0;
    }

    .titre-hero{
        font-size: 40px;
    }

    .texte-hero{
        font-size: 10px;
        margin: 0 20px 15px 20px;
    } 

    .section-texte-pourquoi{
        width: 350px;
    }


}