*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    
}

body{
    background-color: #10181F;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 300px;
    background-color: #10181F80;
    z-index: 10;
}

.logo{

    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: italic;

    color: #EAECEE;
    font-size: 25px;
}

ul{
    display: flex;
    align-items: center;
}

.liste-nav-bar li{
    list-style-type: none;
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: #EAECEE;
    font-weight: 300;
}

a:hover{
    color: #C92C35;
}

button{
    background-color: #EAECEE;
    padding: 8px 20PX;
    border: none;
    border-radius: 20px;
    font-weight: 500;
}

button:hover{
    background-color: #C92C35;
    color: #F3F3F3;
}

h1{
    font-family: "Montserrat", sans-serif;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
}