
/* ==================[hero-banniere]================== */

.hero-banniere{
    width: 100%;

    aspect-ratio: 5120 / 2020; 
    
    background-image: url('../images/hero-banniere-image-univers-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items:   center;
    justify-content: center; 
}

.titre-hero{
    color: #EAECEE;
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    text-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
}

.texte-hero{
    color: #EAECEE;
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
}

/* ==================[section-presentation]================== */

.section-presentation{
    padding: 70px 400px;
    color: #EAECEE;
}

.titre-presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 15px 0;
}

.presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 30px 0;
}

.image-presentation{
    width: 500px;
    border-radius: 8px;
}

.texte-presentation{
    width: 500px;
    padding: 0  0 0 50px;
    line-height: 1.5;
}

/* ==================[section-deux-camps]================== */

.section-deux-camps{
    padding: 70px 400px;
    color: #0A0F14;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre-deux-camps{
    padding: 0 0 15px 0;
}

.texte-deux-camps{
    padding: 10px 0 25px 0;
}

.les-deux-camps{
    display: flex;
    flex-direction: row ;
}

.partie-camp{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    width: 500px;
}

.titre-camp{
    text-align: center;
    padding: 0 0 30px 0;
}

.img-camp{
    width: 300px;
    border-radius: 10px;
}

.texte-camp{
    margin: 30px 0;
}

.liste-camp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: disc;
    list-style-position: inside;
}

.liste-camp li{
    margin: 3px 0;
}


/* ==================[section-chronologie]================== */

.section-chronologie{
    padding: 70px 100px;
    color: #EAECEE;
    background-color: #10181F;
}

.titre-chronologie{
    text-align: center;
    padding: 0 0 15px 0;
}

.chronologie{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.carte-chrono{
    padding: 40px;
}

.titre-chrono{
    width: 300px;
    margin: 10px 0 15px 0;
}

.texte-chrono{
    width: 300px;
    margin: 10px 0;
}

.img-chrono{
    margin: 10px 0;
    width: 300px;
    border-radius: 10px;
}


/* Pour Chrome, Safari et Edge */

/* La taille de la barre */
.chronologie::-webkit-scrollbar {
    height: 10px;
}

/* Le fond de la barre */
.chronologie::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

/* Le curseur */
.chronologie::-webkit-scrollbar-thumb {
    background-color: #C92C35;
    border-radius: 5px;
    border: 2px solid transparent;
    background-clip: content-box;
}

/* Le curseur au survol */
.chronologie::-webkit-scrollbar-thumb:hover {
    background-color: #A0232A;
}

/* Pour Firefox */
.chronologie {
    scrollbar-color: #C92C35 rgba(0, 0, 0, 0.05);
    scrollbar-width: thin;
}

/* ==================[section-personnages]================== */

.section-personnages{
    padding: 70px 400px;
    color: #0A0F14;
    background-color: #F4F4F4;
}

.titre-section-personnages{
    text-align: center;
    padding: 0 0 15px 0;
}

.personnages{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 530px 530px;
    gap: 40px; 
    padding: 20px 0;
}

.img-personnages{
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.titre-cartes-personnages{
    padding: 10px 0;
}

.carte-personnages p{
    padding: 3px 0;
}

/* ==================[section-credo]================== */

.section-credo{
    padding: 70px 400px;
    color: #EAECEE;
    background-color: #10181F;
    text-align: center;
}

.titre-credo{
    padding: 0 0 15px 0;
}

.texte-credo{
    padding: 0 0 15px 0;
}

.liste-credo{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

ol{
    list-style: decimal;
    list-style-type: decimal;
}

.liste-credo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: decimal;
    list-style-position: inside;
    color: #EAECEE;
}

.liste-credo li{
    margin: 5px 0;
}

.boite-liste-credo{
    display: flex;
    flex-direction: column;
    align-items: center;
}